//Mobile First
//Variables
//-Colors
$neon-blue: #71f8fa;
$darker-blue: #60d2d4; //rgb(96, 210, 212)
$teal: #139ea8; //rgb(19, 158, 168)
$bright-red: #e01e24; //rgb(224, 30, 36)
$darker-red: #c61017;
$almost-black: #111;
$border-color: #d8d8d8;

//-Fonts
@font-face {
font-family: charter;
font-style: normal;
font-weight: normal;
font-stretch: normal;
src: url('../fonts/charter_regular.woff2') format('woff2');
}

@font-face {
font-family: charter;
font-style: italic;
font-weight: normal;
font-stretch: normal;
src: url('../fonts/charter_italic.woff2') format('woff2');
}

@font-face {
font-family: charter;
font-style: normal;
font-weight: bold;
font-stretch: normal;
src: url('../fonts/charter_bold.woff2') format('woff2');
}

@font-face {
font-family: charter;
font-style: italic;
font-weight: bold;
font-stretch: normal;
src: url('../fonts/charter_bold_italic.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

$serif-font:charter, 'Georgia', 'Times New Roman', serif;
$sans-serif-font:Mukta, Arial, Helvetica, sans-serif;

//Mixins
@mixin twirl-animation {
  animation-name: twirl;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition:background-color 0.3s ease 0s;
}

@mixin sparkle-animation {
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition:background-color 0.3s ease 0s;
}

@mixin wiggle-animation {
  animation-name: wiggle;
  animation-iteration-count: infnite;
  animation-direction: alternate;
}

@mixin star {
  background-color:#fff;
  position:fixed;
  transform:rotate(45deg);
  z-index:-100;
}

@keyframes twirl {
  0% {transform:rotate(45deg);}
  25% {transform:rotate(45deg);}
  50% {transform:rotate(225deg);}
  100% {transform:rotate(225deg);}
}

@keyframes sparkle {
  0% {background-color: white;}
  25% {background-color: white;}
  75% {background-color: black;}
  100% {background-color: white;}
}

@keyframes wiggle {
  0% {top:0;left:0;}
  50% {top: 5px;left:3px;}
  100% {top:0;left:0;}
}

//Shapes
.red-triangle {
  width: 280px;
  height: 280px;
  background-color: $bright-red;
  position:fixed;
  top:-140px;
  left:-140px;
  transition:background-color 0.3s ease 0s;
  z-index:-100;
  @include twirl-animation;
  animation-duration: 60s;
  &:hover {
    background-color: $darker-red;
  }
}

.red-square {
  width: 5px;
  height: 5px;
  background-color: $bright-red;
  position:fixed;
  top:85%;
  left:10%;
  transform:rotate(45deg);
  z-index:-100;
  @include twirl-animation;
  animation-duration: 10s;
  &:hover {
    background-color: $darker-red;
  }
}

.blue-triangle {
  width: 200px;
  height: 200px;
  background-color: $teal;
  position:fixed;
  top:50%;
  right:-100px;
  transition:background-color 0.3s ease 0s;
  transform: rotate(-45deg);
  z-index:-100;
  @include twirl-animation;
  animation-duration: 80s;
  &:hover {
    background-color: $neon-blue;
  }
}
.blue-square {
  display:none;
}

.star0 {
  width:5px;
  height:5px;
  top:33%;
  left:20%;
  @include star;
  @include sparkle-animation;
  animation-duration:5s;
}

.star1 {
  width:3px;
  height:3px;
  bottom:25%;
  left:33%;
  @include star;
  @include sparkle-animation;
  animation-duration:10s;
}

.star2 {
  width:3px;
  height:3px;
  bottom:45%;
  right:10%;
  @include star;
  @include sparkle-animation;
  animation-duration:5s;
}

.star3 {
  width:3px;
  height:3px;
  bottom:10%;
  left:50%;
  @include star;
  @include sparkle-animation;
  animation-duration:15s;
}

.star4 {
  width:3px;
  height:3px;
  top:25%;
  right:23%;
  @include star;
  @include sparkle-animation;
  animation-duration:10s;
}

.star5 {
  width:3px;
  height:3px;
  top:5%;
  right:10%;
  @include star;
  @include sparkle-animation;
  animation-duration:5s;
}

//Layout
body {
  margin:0;
  padding:0;
  background-color:#000;
}

a, a:link, a:visited, a:active {
  font-family:$sans-serif-font;
  font-weight:bold;
  padding: 0 0 1px 0;
  line-height:2em;
  border-bottom:2px solid $teal;
  text-decoration:none;
  color:$almost-black;
  transition:padding 0.3s ease 0s, border 0.3s ease 0s;
}

a:hover, a:focus {
  border-bottom:none;
  text-decoration:none;
  color:$almost-black;
  padding:0;
  line-height:2em;
  border-bottom: 2px solid $bright-red;
}

h1 {
  text-align:center;
  letter-spacing:1px;
  font-family:$sans-serif-font;
  margin-bottom:0;
  font-size:80px;
  line-height:80px;
  color:white;
  font-weight:300;
}

h2 {
  font-family:$sans-serif-font;
  text-align:center;
  font-weight:300;
  font-size:25px;
  line-height:25px;
  margin:5px 0 5px 0;
  padding-bottom:5px;
  color:white;
  border-bottom:1px solid $neon-blue;
}

h3 {
  font-family:$sans-serif-font;
  margin-top:30px;
  margin-bottom:0;
  font-size:45px;
  line-height:50px;
  padding-bottom:1px;
  font-weight:500;
  border-bottom:3px solid $darker-red;
  word-break:break-all;
  /* hyphens bc they are big */
  -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
  /*fallback color is set above*/
  color: #fff;
  text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

h4, h5, h6 {
  color:$almost-black; /*fallback color for h3 as well*/
}

h4 {
  font-size: 25px;
  line-height:25px;
  font-family:$sans-serif-font;
  margin: 20px 0 0 0;
}

h5 {
  margin:10px 0;
  font-family:$sans-serif-font;
  font-size:20px;
  line-height:20px;
  &:before{
    content:"\00BB";
    color:$teal;
    padding-right:5px;
  }
}

p {
  font-family:$serif-font;
  color:$almost-black;
  font-size:16px;
  line-height:1.2em;
  font-weight:500;

  strong {
    font-family:$sans-serif-font;
  }
}

aside {
  font-style:italic;
  font-family:$serif-font;
  font-size:14px;
}

ul {
  margin-top:5px;
  list-style-position: inside;
  padding-left:0;
  li {
    font-family:$serif-font;
    padding-bottom:3px;
    font-family:$serif-font;
    color:$almost-black;
    font-size:16px;
    line-height:1.2em;
    font-weight:500;
  }
}

//-header
header {
  padding: 0 30px;
  margin:75px auto 0 auto;
  max-width:650px;
}

main {
  background-color:rgba(255, 255, 255, 0.90);
  border: 1px solid $border-color;
  width:85%;
  max-width:650px;
  margin:50px auto;
  padding:20px 30px 40px 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

nav {
  font-family:$sans-serif-font;
  margin-top:20px;
  font-weight:bold;
  display: flex;
  flex-direction: column;

  a, a:link, a:visited, a:active {
    background-color:$bright-red;
    padding: 10px 15px;
    border:1px solid $almost-black;
    font-weight:bolder;
    text-decoration:none;
    color:#fff;
    font-family:$sans-serif-font;
    transition:background-color 0.3s ease 0s, color 0.3s ease 0s, border 0.3s ease 0s;
    display:inline-block;
    text-transform: capitalize;
  }

  a:hover, a:focus {
    background-color:$neon-blue;
    border:1px solid $neon-blue;
    color: $almost-black;
  }
}

div.about {
  display:flex;
  flex-direction:column;

  img.profile {
    width:100%;
    height:auto;
    max-width:300px;
    margin:20px auto 0 auto;
  }
}

time {
  font-family:$sans-serif-font;
  &:before {
    content:"\2192";
    color:$bright-red;
    padding-right:5px;
  }
}

section {
  figure {
    /* every item under work */
    margin:0 0 60px 0;

    /*screenshots of work*/
    a.pic, a.pic:link, a.pic:visited, a.pic:active, a.pic:hover, a.pic:focus {
      background:none;
      border:none;
    }
  }
  img {
    transition:filter 0.3s ease 0s;
    width:100%;
    max-width:568px;
    border: 1px solid $border-color;
    filter: brightness(100%);
    &:hover {
      filter: brightness(75%);
    }
  }
  figcaption {
    text-align:center;
    padding-top:10px;

    p {
      text-align:left;
    }
  }
}

footer {
  width:85%;
  max-width:650px;
  margin:50px auto;
  padding:20px 30px 40px 30px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  color:#fff;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  text-align: center;

  h4, p {
    color:#fff;
  }

ul {
  list-style-type: none;
  li {
    line-height:2em;
    color:#fff;
  }
}

  a, a:link, a:visited, a:active {
    color:#fff;
  }
  a:hover, a:focus {

  }
}//end footer

//Tablet
@media (min-width: 750px) {

  header {
    padding-left:50px;
    padding-right:50px;
  }

  main {
    padding-left:50px;
    padding-right:50px;
  }

  nav{
    flex-direction: row;
     justify-content: space-between;
  }

  h3 {
    font-size:70px;
    line-height:75px;
  }

  div.about {
    flex-direction:row;
    justify-content:space-between;

    img.profile {
    width:200px;
    height:200px;
    margin:20px 0 0 0;
    }
    p.profile {
      max-width:304px;
    }
  }

  ul li ul {
    padding-left:20px;
  }

  footer {
    padding-left:50px;
    padding-right:50px;
    flex-direction:row;
    text-align:left;
  }
}

//Desktop
@media (min-width: 1100px) {
  .blue-square {
    width: 25px;
    height: 25px;
    background-color:$neon-blue;
    position:fixed;
    top:20%;
    left:75%;
    @include twirl-animation;
    animation-duration: 20s;
    z-index:-100;
    display: block;
    &:hover {
      background-color: $darker-blue;
    }
  }
}
