@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url("../fonts/charter_regular.woff2") format("woff2"); }
@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url("../fonts/charter_italic.woff2") format("woff2"); }
@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url("../fonts/charter_bold.woff2") format("woff2"); }
@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url("../fonts/charter_bold_italic.woff2") format("woff2"); }
@keyframes twirl {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(225deg); }
  100% {
    transform: rotate(225deg); } }
@keyframes sparkle {
  0% {
    background-color: white; }
  25% {
    background-color: white; }
  75% {
    background-color: black; }
  100% {
    background-color: white; } }
@keyframes wiggle {
  0% {
    top: 0;
    left: 0; }
  50% {
    top: 5px;
    left: 3px; }
  100% {
    top: 0;
    left: 0; } }
.red-triangle {
  width: 280px;
  height: 280px;
  background-color: #e01e24;
  position: fixed;
  top: -140px;
  left: -140px;
  transition: background-color 0.3s ease 0s;
  z-index: -100;
  animation-name: twirl;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 60s; }
  .red-triangle:hover {
    background-color: #c61017; }

.red-square {
  width: 5px;
  height: 5px;
  background-color: #e01e24;
  position: fixed;
  top: 85%;
  left: 10%;
  transform: rotate(45deg);
  z-index: -100;
  animation-name: twirl;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 10s; }
  .red-square:hover {
    background-color: #c61017; }

.blue-triangle {
  width: 200px;
  height: 200px;
  background-color: #139ea8;
  position: fixed;
  top: 50%;
  right: -100px;
  transition: background-color 0.3s ease 0s;
  transform: rotate(-45deg);
  z-index: -100;
  animation-name: twirl;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 80s; }
  .blue-triangle:hover {
    background-color: #71f8fa; }

.blue-square {
  display: none; }

.star0 {
  width: 5px;
  height: 5px;
  top: 33%;
  left: 20%;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
  z-index: -100;
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 5s; }

.star1 {
  width: 3px;
  height: 3px;
  bottom: 25%;
  left: 33%;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
  z-index: -100;
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 10s; }

.star2 {
  width: 3px;
  height: 3px;
  bottom: 45%;
  right: 10%;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
  z-index: -100;
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 5s; }

.star3 {
  width: 3px;
  height: 3px;
  bottom: 10%;
  left: 50%;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
  z-index: -100;
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 15s; }

.star4 {
  width: 3px;
  height: 3px;
  top: 25%;
  right: 23%;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
  z-index: -100;
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 10s; }

.star5 {
  width: 3px;
  height: 3px;
  top: 5%;
  right: 10%;
  background-color: #fff;
  position: fixed;
  transform: rotate(45deg);
  z-index: -100;
  animation-name: sparkle;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in ease-out;
  transition: background-color 0.3s ease 0s;
  animation-duration: 5s; }

body {
  margin: 0;
  padding: 0;
  background-color: #000; }

a, a:link, a:visited, a:active {
  font-family: Mukta, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0 0 1px 0;
  line-height: 2em;
  border-bottom: 2px solid #139ea8;
  text-decoration: none;
  color: #111;
  transition: padding 0.3s ease 0s, border 0.3s ease 0s; }

a:hover, a:focus {
  border-bottom: none;
  text-decoration: none;
  color: #111;
  padding: 0;
  line-height: 2em;
  border-bottom: 2px solid #e01e24; }

h1 {
  text-align: center;
  letter-spacing: 1px;
  font-family: Mukta, Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  font-size: 80px;
  line-height: 80px;
  color: white;
  font-weight: 900; }

h2 {
  font-family: Mukta, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  margin: 5px 0 5px 0;
  padding-bottom: 5px;
  color: white;
  border-bottom: 1px solid #71f8fa; }

h3 {
  font-family: Mukta, Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 1px;
  font-weight: 500;
  border-bottom: 3px solid #c61017;
  word-break: break-all;
  /* hyphens bc they are big */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /*fallback color is set above*/
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

h4, h5, h6 {
  color: #111;
  /*fallback color for h3 as well*/ }

h4 {
  font-size: 25px;
  line-height: 25px;
  font-family: Mukta, Arial, Helvetica, sans-serif;
  margin: 20px 0 0 0; }

h5 {
  margin: 10px 0;
  font-family: Mukta, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 20px; }
  h5:before {
    content: "\00BB";
    color: #139ea8;
    padding-right: 5px; }

h6 {
  font-family: Mukta, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: left;
  margin: 20px 0 0 0; }

p {
  font-family: charter, "Georgia", "Times New Roman", serif;
  color: #111;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 500; }
  p strong {
    font-family: Mukta, Arial, Helvetica, sans-serif; }

aside {
  font-style: italic;
  font-family: charter, "Georgia", "Times New Roman", serif;
  font-size: 14px; }

ul {
  margin-top: 5px;
  padding-left: 17px;
  text-align: left; }
  ul li {
    font-family: charter, "Georgia", "Times New Roman", serif;
    padding-bottom: 3px;
    font-family: charter, "Georgia", "Times New Roman", serif;
    color: #111;
    font-size: 18px;
    line-height: 1.3em;
    font-weight: 500;
    text-align: left; }

header {
  padding: 0 30px;
  margin: 75px auto 0 auto;
  max-width: 650px; }

main {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d8d8d8;
  width: 85%;
  max-width: 650px;
  margin: 50px auto;
  padding: 20px 30px 40px 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

nav {
  font-family: Mukta, Arial, Helvetica, sans-serif;
  margin-top: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column; }
  nav a, nav a:link, nav a:visited, nav a:active {
    background-color: #e01e24;
    padding: 10px 15px;
    border: 1px solid #111;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    font-family: Mukta, Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border 0.3s ease 0s;
    display: inline-block;
    text-transform: capitalize; }
  nav a:hover, nav a:focus {
    background-color: #71f8fa;
    border: 1px solid #71f8fa;
    color: #111; }

div.about {
  display: flex;
  flex-direction: column; }
  div.about img.profile {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 20px auto 0 auto; }

time {
  font-family: Mukta, Arial, Helvetica, sans-serif; }
  time:before {
    content: "\2192";
    color: #e01e24;
    padding-right: 5px; }

section {
  /* testimonial */ }
  section figure {
    /* every item under work */
    margin: 0 0 60px 0;
    /*screenshots of work*/ }
    section figure a.pic, section figure a.pic:link, section figure a.pic:visited, section figure a.pic:active, section figure a.pic:hover, section figure a.pic:focus {
      background: none;
      border: none; }
  section img {
    transition: filter 0.3s ease 0s;
    width: 100%;
    max-width: 568px;
    border: 1px solid #d8d8d8;
    filter: brightness(100%); }
    section img:hover {
      filter: brightness(75%); }
  section figcaption {
    text-align: center;
    padding-top: 10px; }
    section figcaption p {
      text-align: left; }
  section aside blockquote {
    font-size: 35px;
    line-height: 1.2em;
    font-family: charter, "Georgia", "Times New Roman", serif;
    margin: 10px 0 0 0;
    font-style: normal;
    /* the quotee */ }
    section aside blockquote span.attribution {
      font-weight: bold;
      font-family: Mukta, Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 1.2em;
      font-style: normal;
      color: #c61017;
      display: block;
      text-align: right;
      padding-top: 10px;
      padding-right: 20px; }

footer {
  width: 85%;
  max-width: 650px;
  margin: 50px auto;
  padding: 20px 30px 40px 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  footer h4, footer p {
    color: #fff; }
  footer ul li {
    line-height: 2em;
    color: #fff; }
  footer a, footer a:link, footer a:visited, footer a:active {
    color: #fff; }

@media (min-width: 750px) {
  header {
    padding-left: 50px;
    padding-right: 50px; }

  main {
    padding-left: 50px;
    padding-right: 50px; }

  nav {
    flex-direction: row;
    justify-content: space-between; }

  h3 {
    font-size: 70px;
    line-height: 75px; }

  div.about {
    flex-direction: row;
    justify-content: space-between; }
    div.about img.profile {
      width: 200px;
      height: 200px;
      margin: 20px 0 0 0; }
    div.about p.profile {
      max-width: 304px; }

  section {
    /* testimonial now has room for some indentation */ }
    section aside blockquote {
      margin: 10px 30px 0 30px;
      font-size: 30px; }
      section aside blockquote span.attribution {
        font-size: 18px; }

  footer {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    text-align: left; } }
@media (min-width: 1100px) {
  .blue-square {
    width: 25px;
    height: 25px;
    background-color: #71f8fa;
    position: fixed;
    top: 20%;
    left: 75%;
    animation-name: twirl;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in ease-out;
    transition: background-color 0.3s ease 0s;
    animation-duration: 20s;
    z-index: -100;
    display: block; }
    .blue-square:hover {
      background-color: #60d2d4; } }

/*# sourceMappingURL=style.css.map */
